.progress-card {
  cursor: pointer;
  padding: 24px 16px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.progress-card:hover:not(.selected) {
  border-radius: 6px;
  border: 1px solid var(--secondary-background-color);
}

.selected {
  border-radius: 6px;
  border: 1px solid var(--white-font-color);
}

.progress-card-menu {
  width: 24px;
  height: 24px;
  display: flex;
  cursor: default;
  border-radius: 50%;
  position: relative;
  margin: 0 0 0 auto;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

.dropdown-menu {
  top: 24px;
  right: 8px;
  display: block;
  position: absolute;
}

.progress-title {
  font-weight: 600;
  margin: 0 0 8px 0;
  font-size: 0.7rem;
  text-align: initial;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-value {
  width: 8%;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: initial;
}

.progress-thin {
  flex-grow: 1;
  height: 12px;
  border-radius: 0%;
  background-color: var(--secondary-background-color);
}

.progress-bar {
  height: 100%;
}

.progress-control {
  gap: 12px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto 0;
  justify-content: center;
}

.btn {
  border: 0;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 0;
  box-sizing: border-box;
  color: var(--white-font-color);
  background-color: var(--secondary-background-color);
}

.btn:active {
  border: 1px solid;
}

.btn:disabled {
  cursor: not-allowed;
  color: var(--primary-background-color);
}

.btn-danger {
  color: var(--danger-font-color);
}

.btn-danger:active {
  border: 1px solid var(--danger-font-color);
}
