.progresses {
  display: flex;
  flex-direction: column;
}

.progresses-content {
  flex: 0 0 auto;
}

.progresses-control {
  gap: 12px;
  height: 32px;
  flex-wrap: wrap;
  margin: 32px auto 0;
  display: inline-flex;
}

.btn {
  border: 0;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 0;
  box-sizing: border-box;
  color: var(--white-font-color);
  background-color: var(--secondary-background-color);
}

.btn:active {
  border: 1px solid;
}

.btn:disabled {
  color: var(--primary-background-color);
  cursor: not-allowed;
}
