@import "./assets/theme/variable.css";

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--white-font-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
